.gallery-activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activity-card {
  flex: 0 1 calc(33.33% - 20px); /* Pour afficher trois cartes par ligne avec un espace entre chaque carte */
  margin-bottom: 20px;
  border-radius: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.img-activity {
  width: 100%;
  border-radius: 1rem 1rem 0 0; /* Arrondi uniquement dans les coins supérieurs */
}

.h3-acttivity,
.p-activity {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-shadow:
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black;
  margin: 0;
  padding: 0;
  width: calc(100% - 20px); /* Largeur à 100% moins le padding */
}

.p-activity {
  bottom: 30px; /* Ajustez la position verticale selon vos besoins */
}

/* Media Query pour rendre la mise en page réactive */
@media screen and (max-width: 992px) {
  .activity-card {
    flex: 0 1 calc(50% - 20px); /* Pour afficher deux cartes par ligne sur les écrans de taille moyenne */
  }
}

@media screen and (max-width: 576px) {
  .activity-card {
    flex: 0 1 calc(100% - 20px); /* Pour afficher une seule carte par ligne sur les petits écrans */
  }
}
