.input-wrapper {
  margin-right: 5rem;
  background-color: white;
  width: 20rem;
  border-radius: 10px;
  height: 1.8rem;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.search-bar {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}
