.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  border-bottom: solid 1px rgb(243, 241, 241);
}

.nav_link {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  display: flex;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: black;
  text-decoration: none;
  font-size: 20px;
}
/*  mettre le menu qui pars vers la droite pour la version mobile  */
