.Acc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e2e2e2;
}

.background {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}
